body{
    background-color: #415a77;
    color: #1b263b;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container{
    background-color:#415a77;
    height: 300px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.abc{
    color: #415a77;
    background-color:#e0e1dd;
    height: 40px;
    width: 150px;
    font-size: large;
    border: 5px solid #1b263b;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    background-color:#415a77;
    min-height: 100px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #1b263b;
}
p{
    background-color: #e0e1dd;
    width: 150px;
    word-wrap: break-word;
    border: 1px solid #1b263b;
}

.save{
    height: 20px;
    width: 50px;
}
textarea {
    width: 200px; /* Adjust width as needed */
    min-height: 80px; /* Adjust minimum height as needed */
    box-sizing: border-box; /* Ensures padding is included in width/height */
    padding: 10px; /* Adjust padding as needed */
    resize: none; /* Disables manual resizing */
    
    border: 1px solid #1b263b; /* Adds a border */
    border-radius: 4px; /* Adds rounded corners */
    font-size: 12px; /* Adjust font size as needed */
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



#noteadded{
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 41%;
    z-index: 1;
    background-color: black;
    color: white;
    font-size: larger;
    line-height: 25px;
    backdrop-filter: blur(100px);
    display: none;
}

img{
    height: 15px;
    width: 15px;
    color: white;
    padding: 5px;
}
img:hover{
    background-color: gray;
    border-radius: 40%;
}

.abs{
    display: none;
}